.navigation {
  float: right;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  margin: 25px 10px;
}

a:hover {
  color: yellow;
}

.clearfix:after {
  visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

h1, h2, h3, h6{
  font-family: 'Lato', sans-serif;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.talkie {
  border-radius: 10px;
  border: 3px solid gray;
  padding: 2% ;
  display: grid | inline-grid;
  width: 25%;
  float: left;
  margin: 10px;
}

.hero {
  float: right;
}

#footer {
  clear: both;
}

.rawrxd {
  border-radius: 10px;
  border: 3px solid gray;
  padding: 1.5%;
  width: 23%;
  float: left;
  margin: 10px;
  box-shadow: 2px 2px 1px gray;
}

h2 {
  color: #0E588D;
  border-bottom: 3px solid lightgray;
}

.copyright {
  color: white;
  padding: 1%;
}
